@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$blogPosts: #497ba6;
$blogZoom: #20507b;
$button: #8fbbdc;
$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;
$nav-bar: #497BA6;
$border: #8FBBDC;
body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

nav {
  display: block;
  text-align: center;
  background: $nav-bar;
  height: 60px;
  padding: 10px 0;

  a {
    padding: 0 30px;
    border-left: 1px solid $border;
    font-size: 30px;
    text-decoration: none;
    color: white;

    &:last-child {
      border-right: 1px solid $border;
    }
  }
}

.create-view {
  font-family: "Roboto";
  width: 50%;
  margin: 0 auto;
  padding: 20px 10px;

  > * {
    width: 100%;
    display: block;
    margin: 10px auto;
  }

  textarea {
    resize: none;
  }

  h1 {
    text-align: center;
  }
}
