<li>
  <h1>{{title}}</h1>
  <p>{{content}}</p>
  <div class="button-container">
    <button data-behavior="edit-blog">Edit</button>
    <button data-behavior="destroy-blog">Delete</button>
  </div>
</li>
